<%= javascript_tag do %>
  $(function () {

    var STORAGE_KEY = 'redmine-comment-only-display';

    var $targets = $('.journal:not(.has-notes), .journal .details');
    var $show    = $('<a style="display: none;"><%= l(:label_redmine_commnet_only_display_show) %></a>');
    var $hide    = $('<a><%= l(:label_redmine_commnet_only_display_hide) %></a>');

    $show.on('click', function () {
      $show.css('display', 'none');
      $hide.css('display', '');
      $targets.css('display', '');
      localStorage && localStorage.setItem(STORAGE_KEY, 'show');
    });

    $hide.on('click', function () {
      $show.css('display', '');
      $hide.css('display', 'none');
      $targets.css('display', 'none');
      localStorage && localStorage.setItem(STORAGE_KEY, 'hide');
    });

    if (localStorage) {
      if (localStorage.getItem(STORAGE_KEY) === 'hide') {
        $hide.trigger('click');
      } else {
        $show.trigger('click');
      }
    }

    $('#history').before($hide, $show);
  });
<% end %>
